@charset "utf-8";

/* CSS Document */


/* web font */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* * Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}


/* common */

body {
    font-family: Noto Sans KR, '본고딕', '나눔고딕', NanumGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif;
    color: #000
    font-size: 18px;
    background: #ffffff;

}

h2 {font-size: 18px;}

#wrapper {
    min-width: 320px;
    overflow: hidden;
        
}

#skip-nav {
    position: fixed;
    left: 0;
    top: -40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    background: rgba(27, 76, 119, 0.5);
    color: #ffffff;
    font-size: 16px;
    z-index: 10000;
    transition: top 0.3s;
}

#skip-nav:focus {
    top: 0;
}

/* header */

#header-wrapper {
    width: 100%;
    
    padding: 0 16px;
    box-sizing: border-box;
}
#header {position: relative;}
#header-top-box {position: relative; width: 100%; height: 20px; margin: 0 auto;}
#top-nav {position: absolute; right: 0px; top: 38px; font-size: 9px; color: #333333;}
#top-nav li {float: left; line-height: 16px;}
#top-nav li + li:before {content: '|'; margin: 0 2px; font-size: 9px; color: #333333;}
#top-nav li a:hover {color: #0068b7;}
#top-nav li a {padding: 2px; margin-left: 0px; display: inline-block;}


#header-bottom {background: ;}
#header-bottom-box {position: relative; width: 100%; height: 30px; margin: 0 auto; }
#header h1 {position: absolute; top: -52px; left:0px;}
#header h1 img {width: 144px; height: 44px;}



#gnb {margin: 44px auto 0; display: block; height: 100%;  overflow: auto;}
#gnb > li {float: left; width: 20%; text-align: center; margin-top: 0; }
#gnb > li > a {font-size: 12px; font-weight: 700; display: block; margin-top: 6px; }
#gnb li.sub4 a {letter-spacing: -1px}
#gnb ul {position: absolute; left: 0; width: 100%; margin-top: 6px; display: none; z-index: 9999;}



.sub1:before {content: ""; display: block; position: absolute; top: 0px; margin: 0px auto; width: 20%; height: 3px; background:#e60012;}
.sub2:before {content: ""; display: block; position: absolute; top: 0px; margin: 0px auto; width: 20%; height: 3px; background:#fabd00;}
.sub3:before {content: ""; display: block; position: absolute; top: 0px; margin: 0px auto; width: 20%; height: 3px; background:#231815;}
.sub4:before {content: ""; display: block; position: absolute; top: 0px; margin: 0px auto; width: 20%; height: 3px; background:#00a0e9;}
.sub5:before {content: ""; display: block; position: absolute; top: 0px; margin: 0px auto; width: 20%; height: 3px; background:#0068b7;}

/*.sub1_span {display: block; position: absolute; left: 0px; top: -50px; width: 100%; height: 3px;  background: red;}*/
.sub1 ul:before {content: ""; display: block; position: absolute; top: -30px; margin: 0px auto; width: 100%; height: 3px; background: #dcdcdc;}
.sub2 ul:before {content: ""; display: block; position: absolute; top: -30px; margin: 0px auto; width: 100%; height: 3px; background: #dcdcdc;}
.sub3 ul:before {content: ""; display: block; position: absolute; top: -30px; margin: 0px auto; width: 100%; height: 3px; background: #dcdcdc;}
.sub4 ul:before {content: ""; display: block; position: absolute; top: -30px; margin: 0px auto; width: 100%; height: 3px; background: #dcdcdc;}
.sub5 ul:before {content: ""; display: block; position: absolute; top: -30px; margin: 0px auto; width: 100%; height: 3px; background: #dcdcdc;}

.sub1 ul:after {content: ""; display: block; position: absolute; top: -30px; margin: 0px auto; width: 20%; height: 3px; background: #e60012;}
.sub2 ul:after {content: ""; display: block; position: absolute; top: -30px; left: 20%; margin: 0px auto; width: 20%; height: 3px; background: #fabd00;}
.sub3 ul:after {content: ""; display: block; position: absolute; top: -30px; left: 40%; margin: 0px auto; width: 20%; height: 3px; background: #231815;}
.sub4 ul:after {content: ""; display: block; position: absolute; top: -30px; left: 60%; margin: 0px auto; width: 20%; height: 3px; background: #00a0e9;}
.sub5 ul:after {content: ""; display: block; position: absolute; top: -30px; left: 80%; margin: 0px auto; width: 20%; height: 3px; background: #0068b7;}

#gnb ul li {display: block; width: 100%; height: 35px;  background: rgba(0,0,0,0.6);}
#gnb ul li a {display: block; color: #fff; font-size: 14px; width: 100%; height: 35px;  line-height: 35px;}
#gnb ul li a:hover {color: #00a0e9;}
#gnb ul li + li:before {content: ''; display: block; margin: 0 auto; width: 85%; border-bottom: 1px solid #aaa}


/* main image */

div.image-swipe {width: 100%; height: 150px; position: relative; }
div.image-swipe > div.box {position: absolute; left: 0; top: 0; height: 100%; width: 100%; overflow: hidden;}
div.image-swipe ul.image {width: 100%; height: 100%; position: absolute; left: 0; top: 0; /*transition: left 0.4s;*/}
div.image-swipe ul.image li {width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: none;}
div.image-swipe ul.image li:first-child {display: block;}
div.image-swipe ul.image li a {display: block; width: 100%; height: 100%; text-align: center; }
div.image-swipe ul.image li a img {width: 100%; height: 100%;}

div.image-swipe p.control a.prev {position: absolute; top: 50%; margin-top: -18px; left: 0px; padding: 0 5px;}
div.image-swipe p.control a.next {position: absolute; top: 50%; margin-top: -18px; right: 0px; padding: 0 5px;}
div.image-swipe p.control a {background: rgba(0,0,0,0.3);}
div.image-swipe ul.indicator {position: absolute; bottom: 20px; width: 100%; text-align: center;}
div.image-swipe ul.indicator li {display: inline-block; margin: 0 4px;}
div.image-swipe ul.indicator li a {display: block; width: 8px; height: 8px; border: 2px solid #ffffff; border-radius: 50%; overflow: hidden; box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3); text-indent: -999px; }
div.image-swipe ul.indicator li.on a {border-color: #00a0e9; background: #00a0e9;}


/*board*/

#main-content dl {position: relative; height: 192px; }
#main-content dl.board dt {float: left; width: 50%; height: 48px; line-height: 30px; font-size: 14px; text-align: center;}
#main-content dl.board dt a {color: #afafaf; display: block; width: 100%; height: 48px; line-height: 48px}
#main-content dl.board dt.on {background:#1b4c77; }
#main-content dl.board dt {background:#113956; }
#main-content dl.board dt.on a {color: #fff;}
#main-content dl.board dt.on a:after {content: ""; display: block; margin: -15px auto; width: 65px; height: 3px; border-bottom: 1px solid #fff; }
#main-content dl.board dt a:hover {font-size: 19px; border-bottom: 1px solid #fff; }
#main-content dl.board dt {position: relative;}

#main-content dl.board dd {position: absolute; top: 48px; left: 0px; width: 100%;display: none; background:#eeeeee}
#main-content dl.board dd ul li + li {background:#e1e0e0}
#main-content dl.board dt.on + dd {display: block;}
#main-content dl a.more {position: absolute; right: 50%; top: 10px; margin-right: 16px; width: 15px; height: 15px; background: url(../img/icon_more.png) 0 center no-repeat ; background-size: 100%; text-indent: -9999px}
#main-content dl a.more02 {display: block; right: 0px; top: 10px; }
#main-content dl.board dd ul li {position: relative; height: 72px; }
#main-content dl.board dd ul li a {display: block; width: 100%; padding: 5px 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

#main-content dl.board dd ul li span.board-content {font-size: 12px; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; white-space:normal; line-height:15px; height:30px; padding: 0 16px; overflow:hidden;text-overflow: ellipsis; text-align:left;}
#main-content dl.board dd ul li a:hover {color: #1b4c77;}
#main-content dl.board dd ul li span.date {position: absolute; right: 16px; top: 0; font-size: 12px; color: #777777;}



/*link*/

.link {overflow: hidden;}
.link li {position: relative; width: 100%; height: 72px; text-align: center; float: left;}
.link li a {display: block; color: #fff; width: 100%; height: 72px; line-height: 72px;}
.link li a {background: url(../img/320_link_01.jpg) center center no-repeat; background-size: 100%; transition:all 0.5s;}
.link > li:nth-child(2) a {background-image: url(../img/320_link_02.jpg); color:#2d2d2d; line-height: 60px;}
.link > li:nth-child(2) span {display: block; margin: -16px auto; color:#2d2d2d; font-size: 10px; font-weight: 400; line-height: 12px}
.link > li:nth-child(3) a {background-image: url(../img/320_link_03.jpg);}
.link > li:nth-child(4) {height:150px;}
.link > li:nth-child(4) a {height: 150px; line-height: 150px; background: url(../img/320_link_04_video.jpg) center center no-repeat; background-size: 100%; transition:all 0.5s; text-indent:-9999px ;}
.link > li:nth-child(4) span {display:block; position: absolute; top:50%; left: 50%; margin: -22px 0 0 -22px; background: url(../img/icon_play.png) center center no-repeat; background-size: cover; width:44px; height: 44px; transition:all 1.1s;}
.link > li:nth-child(4) a:hover span {transform: scale(1.2);} 
.link > li:nth-child(5) a {background-image: url(../img/320_link_05.jpg);}
.link > li:nth-child(6) a {background-image: url(../img/320_link_06.jpg);}
.link > li:nth-child(7) a {color: #2d2d2d; background-image: none;}
.link > li:nth-child(6) a {background-image: url(../img/320_link_06.jpg); color:#fff; line-height: 60px;}
.link > li:nth-child(6) span {display: block; margin: -16px auto; color:#fff; font-size: 12px; font-weight: 400; line-height: 12px}
.link > li:nth-child(7) a {line-height: 60px;}
.link > li:nth-child(7) span {display: block; margin: -16px auto; color:#2d2d2d; font-size: 12px; font-weight: 400; line-height: 12px}

.link > li a:hover {background-size: 110%;}

.link > li:before {content: ""; display: block; position: absolute; top: 10px; right: 16px; width: 15px; height: 15px; background: url(../img/icon_more.png) center center no-repeat; background-size: 100%; }
.link > li:nth-child(2):before {background-image: url(../img/icon_more_b.png);}
.link > li:nth-child(4):before {display:none;}
.link > li:nth-child(7):before {background-image: url(../img/icon_more_b.png);}




/* Banner*/

div.slide-banner {width:100%; height: 72px; position: relative; left: 0px; top: 0px; padding: 0px;}
div.slide-banner div.box {overflow: hidden; background: #eeeeee; position: relative; height: 72px;}
div.slide-banner div.box ul {position: absolute; left: 0; top: 0; width: 3600px; background: yellow;}
div.slide-banner div.box ul li {float: left; width: 150px; margin: 0 auto;}
div.slide-banner div.box ul li img {width: 100%;}

div.slide-banner p.control a.prev,
div.slide-banner p.control a.next {position: absolute; top: 20px; width: 40px; height: 35px; line-height: 35px; box-sizing: border-box; background: rgba(0,0,0,0.3)}

div.slide-banner p.control a.prev {left: 0px; }
div.slide-banner p.control a.next {right: 0px;}



/*footer*/
#footer {height: 100px; background: #232323; text-align: center; padding: 10px 0; box-sizing: border-box;}
#footer h3 a {display: block; width: 24px; height: 24px; background: url(../img/icon_facebook.png) center no-repeat; background-size: 100%; margin: 0 auto; text-indent: -9999px;}
#footer-menu ul {display: block; margin: 0px auto; }
#footer-menu ul li{display: inline-block; color: #d3d3d3; font-size: 9px; line-height: 1;}
#footer-menu ul li:first-child {color:#ff0000; }
#footer-menu ul li + li:before {content: '|'; margin: 0 8px; font-size: 14px; color: #777777;}

.copyright {font-size:5px; letter-spacing: -0.8px; color: #666666;}



